#background{
	width: 80%;
	margin-left: 140px;
}


ul {
	list-style-type: none;
	padding: 10px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0063be;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	font-family: Verdana;
	font-weight: 500;
	text-decoration: none;
}

li a:hover{
	background-color: #005abb;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
}

.dropdown-content a{
	color: black;
	text-align: center;
	padding: 14px 16px;
	width: 50px;
	display: block;
	font-family: Verdana;
	font-weight: 500;
	text-decoration: none;	
}

.dropdown:hover .dropdown-content {
	display: block;
}




.imgSmall{
	width: 250px;
}
.title{
	font-style: italic;
	font-size:20px;
	font-weight: bold;
	color:#0063be;
}
#album-container{
	margin: auto;
	padding: 20px;
	width: 1000px;
	border:solid;
	border-color: #0063be;
	border-radius: 5%;
	opacity: 0.8;

}
#albums{
	border-spacing: 50px;
	margin: auto;
	border-radius: 10%;
}

#albums td{
	background-color:#0063be;
	width: 100px;
	text-align: center;
	padding: 50px;
	border-radius: 10%;
}
#albums td:hover{
	background-color:#4d94ff;
}
#albums td a {
	color: white;
	font-family: Verdana;
}
table {
	margin: auto;
}
#album, #images{
	border-collapse: collapse;
}
#imgDetail{
	width: 50%;
	border-collapse: collapse;
}
#imgDetail th, td {
	padding: 10px;
	border: 1px solid #ddd;
}
table td{
	text-align: center;
}

.title{
	text-align: center;
}
#source{
	font-size: 80%;
	width:80%;
	margin:0px auto;
}
label{
	width:120px;
	display: inline-block;
}
input[type=text]{
	width:200px;
	display: inline-block;
}

#addAlbum{
	border:solid;
	margin: auto;
	padding: 10px;
	width: 1000px;
	border-color: #0063be;	
}

#addAlbum label {
	font-family: Verdana;

}
#addPic{
	text-align: center;
	margin-bottom: 40px;
}
#addPic p{
	font-family: Verdana;
}
#addPic-container{
	border: solid #0063be;
	border-radius: 5%;
	width:500px;
	margin: auto;
	padding: 20px;
}
.imgBig-container{
	display: block;
	margin:10px auto;
}
body{
	background-image: url("../image/background.jpg");
}
#editAlbum-container {
	margin: 50px auto;
	width: 800px;
	padding: 50px;
	border:solid;
	border-color: #0063be;
	border-radius: 5%; 
}
#editAlbum-container p{
	text-align: center;
}

#editAlbum-table {
	font-family: "Trebuchet MS";
	font-size: 16px;
	border-spacing: 0px;
	border-collapse: collapse;
}


#editAlbum-table td {
	border-width: 0px;
	border-top: 1px solid #ddd;
	padding: 20px;
	margin: 10px;
}

#deleteAlbum-container {
	border:solid;
	border-color: #0063be;
	border-radius: 5%; 
	margin: auto;
	padding: 10px;
	width: 400px;
	text-align: center;
}

.button {
	font-size: 20px;
}

#editImage-container {
	margin: 50px auto;
	width: 800px;
	padding: 50px;
	border:solid;
	border-color: #0063be;
	border-radius: 5%; 
}
#editImage-container p {
	text-align: center;
}
#deleteImage-container {
	margin: 50px auto;
	width: 800px;
	padding: 20px 20px 20px 50px;
	border:solid;
	border-color: #0063be;
	border-radius: 5%; 	
}
#partialSearch{
	border:solid;
	border-color: #0063be;
	width: 500px;
	height: 300px;
	margin: 50px auto; 
}
#partialSearch p{
	text-align: center;
}

#multiSearch{
	border:solid;
	border-color: #0063be;
	width: 500px;
	height: 300px;
	margin: auto; 
}
#multiSearch p{
	text-align: center;
}
.hidden {
	display: none;
}